
/** Put the send button on the right, a bit bigger than default */
button.feedback-sendButton {
    padding: 8px;
    float:right;
    margin-right:8px;
}
/** Remove the style around the "button container"..  */
.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix{
    background: initial;
    border: none;
}
/** Make the textarea fit the gap */
.feedback-input textarea {
    resize:both; 
    width: 100%;
    min-height:220px;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
    -moz-box-sizing: border-box; /* FF1+ */
    box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/

    width:100%;
    box-sizing:border-box;
    /*direction:rtl;*/
    display:block;
    max-width:100%;
    line-height:1.5;
    padding:15px 15px 30px;
    border-radius:3px;
    border:1px solid #F7E98D;
    font:13px Tahoma, cursive;
    transition:box-shadow 0.5s ease;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    font-smoothing:subpixel-antialiased;
    background:linear-gradient(#F9EFAF, #F7E98D);
    background:-o-linear-gradient(#F9EFAF, #F7E98D);
    background:-ms-linear-gradient(#F9EFAF, #F7E98D);
    background:-moz-linear-gradient(#F9EFAF, #F7E98D);
    background:-webkit-linear-gradient(#F9EFAF, #F7E98D);
}

/** Move the close button to the right as well */
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
    float: right; 
}